body {
    background-color: cyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 12px;
}

form {
    width: 180px;
    margin: auto;
}

input {
	width: 140%;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

button {
    width: 60%;
    padding: 10px;
    font-size: 18px;
}

fieldset {
    border: 2px solid darkblue;
    font-size: 24px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.268);
}

.resultado {

}