* {
  font-family: Helvetica, sans-serif;
  background-color: #e5e2f2;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar {
  border-bottom: 1px solid #cccccc;
  padding: 0.5rem;
  padding: 2rem 0;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

form,
.books-container {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.form-control input {
  padding: 10px;
  border: 1px solid #00000089;
}

.form-checkbox {
  flex-direction: row;
}

.form-checkbox input {
  margin-right: 10px;
}

.form .submit {
  padding: 0.5rem;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

.container .item {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 29%;
  max-width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item h2,
.item p {
  margin-bottom: 0.8rem;
}

.actions {
  display: flex;
}