@import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@400;700 & display = swap');

:root {
    --primary_color: rgb(17, 86, 102);
    --primary_color_darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary_color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
   display: block;
   width: 100%;
   margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary_color);
}

form button {
    border: none;
    background: var(--primary_color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary_color_darker);
}

.relogio {
    background-color: blue;
    width: 33.5%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: #ffffff;
    margin: auto;
}

h1 {
    font-size: 2em;
   text-align: center;
}

div {
    margin: 40px;
    text-align: center;
}

.iniciar, .pausar, .zerar {
    padding: 8px 20px;
    font-size: 1em;
    font-weight: 500;
    background-color: rgb(198, 183, 214);
    border-radius: 10px;
    cursor: pointer;
}

.iniciar:hover, .pausar:hover, .zerar:hover {
    background-color: blue;
    color: aliceblue;
}

.pausado {
    color: red;
}