body {
	font-family: "Treubuchet MS", Helvetica, sans-serif;
	font-weight: 900;
}

ul { 
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
}

ul li {
	float: left;
	background: url(./img/aba_direita.png) no-repeat top right;
}

li a {
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(./img/aba_esquerda.png) no-repeat top left;
	color: #ffffff;
}

ul a:hover {
	color: #894a1f;
}

ul #atual {
	background: url(./img/aba_direita_atual.png) no-repeat top right;
}

ul #atual a {
	background: url(./img/aba_esquerda_atual.png) no-repeat top left;
}