* {
    background: rgb(216, 27, 216);
}

#container h1 {
    background: rgb(208, 165, 208);
    width: 700px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin: 100px auto;
}