:root {
    --color01: #011526;
    --color02: #023059;
    --color03: #035AA6;
    --color04: #0367A6;
    --color05: #91BBF2;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color01);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    height: 640px;
    width: 400px;
    margin: 100px auto;
    border: 1px solid blue;
    border-radius: 10px;
    background: var(--color05);
    box-shadow: 3px 3px 10px #000000;
}

.calculadora {
    margin: auto;
}

h1 {
    margin: 35px;
    font-size: 3.6em;
    text-align: center;
    color: var(--color02);
}

.display {
    margin-bottom: 10px;
    height: 60px;
    width: 340px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000005d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    font-size: 4em;
    text-align: right;
    font-weight: bold;
}


.btn {
    font-size: 2em;
    height: 70px;
    width: 80px;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000005d;
    border: none;
    background: var(--color02);
    color: var(--color05);
}

.btn:hover {
    height: 70.1px;
    width: 80.1px;
    background: var(--color01);
    color: #ffffff;
}

.btn_light {
    background: var(--color03);
}
.btn_light:hover {
    background: var(--color05);
}